@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 234 17% 98%;
}

html.dark,
[data-theme='dark'] {
  --nextui-background: 234 17% 10%;
}

body {
  font-family: var(--font-inter);
}

@layer components {
  .bg-custom::after {
    content: '';
    background: linear-gradient(177deg, var(--bg) 10%, transparent 80%);
    @apply fixed h-[65vh] inset-0 w-full z-[-2] dark:opacity-40 opacity-50;
  }

  .bg-pattern::before {
    content: '';
    background-color: rgba(255,255,255,0);
    background-image:  linear-gradient(#e8e8e8 1px, transparent 1px), linear-gradient(to right, #e8e8e8 1px, rgba(255,255,255,0) 1px);
    background-size: 30px 30px;
    @apply fixed h-[65vh] inset-0 w-full z-[-1] opacity-40 dark:opacity-10;
  }

  .font-sunflower {
    font-family: var(--font-sunflower);
  }

  .container {
    @apply max-w-7xl w-full mx-auto h-full py-6 px-5 lg:px-10;
  }

  div.card-label:nth-child(-n + 2) {
    @apply bg-slate-300/70 text-slate-700;
  }

  .on-progress:before {
    content: 'In Progress';
    @apply animate-pulse absolute top-[30%] left-[50%] translate-x-[-50%] translate-y-[-70%] text-xl inline-flex items-center px-4 py-2 font-semibold leading-6 shadow rounded-full text-purple-500 bg-white dark:bg-slate-800 transition ease-in-out duration-150;
  }

  .team-project:after {
    content: 'Team Project';
    @apply absolute -top-4 right-0 text-xs leading-5 font-semibold bg-yellow-200 text-yellow-900 rounded-full py-1 px-3 flex items-center space-x-2;
  }

  .resume .title {
    @apply mb-2 text-2xl font-semibold;
  }
  .resume p {
    color: #111827cc;
    @apply font-mono text-resumeGray text-xs leading-[1.5] mb-1;
  }

  .resume a {
    @apply hover:underline;
  }

  /* Mail */
  .mail-folder__menu:hover {
    @apply bg-gray-100;
  }
  .mail-folder__menu.active {
    @apply bg-gray-100 dark:bg-gray-700;
  }

  .mail-folder__menu.active > svg {
    @apply text-mailPurple;
  }

  .active .mail-folder__menu-count {
    @apply bg-mailPurple dark:bg-mailPurple text-white;
  }

  .mail-list::after {
    content: '';
    @apply bg-gradient-to-b from-white/20 dark:from-gray-900/20 to-gray-50 dark:to-gray-800 block w-full h-[80px] absolute bottom-0;
  }

  .mail-icon {
    @apply text-mailGray;
  }

  .mail-item:nth-child(3) {
    @apply bg-gray-100/50 dark:bg-gray-900;
  }

  .mail-wrapper * {
    @apply dark:border-gray-700;
  }

  .mail-sidebar nav a {
    @apply text-mailGray hover:text-white py-[10px] px-3 rounded-md hover:bg-gray-800 inline-block relative;
  }

  .mail-sidebar nav a.active {
    @apply text-white bg-gray-800;
  }

  .mail-sidebar nav a.active::after {
    @apply content-[""] absolute top-0 -right-[27px] block w-[4px] h-full bg-mailPurple rounded-md;
  }

  .mail-sidebar .nav-bottom a.logout {
    @apply text-mailOrange;
  }

  /* Arc Landing Page */
  .arc-link {
    @apply text-[#3239FB] font-bold;
  }

  .arc-header {
    background-color: #fffced;
  }

  header.arc-header.open {
    mask: unset;
    bottom: 0;
    position: fixed;
    inset: 0;
  }

  .arc-header,
  .wavy-bottom {
    --mask: radial-gradient(
          4.66px at 50% calc(100% - 6.4px),
          #000 99%,
          #0000 101%
        )
        calc(50% - 8px) 0/16px 100%,
      radial-gradient(4.66px at 50% calc(100% + 2.4px), #0000 99%, #000 101%)
        50% calc(100% - 4px) / 16px 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .arc-hero__content,
  .wavy-top {
    --mask: radial-gradient(4.66px at 50% 6.4px, #000 99%, #0000 101%)
        calc(50% - 8px) 0/16px 100%,
      radial-gradient(4.66px at 50% -2.4px, #0000 99%, #000 101%) 50% 4px/16px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  .arc-hero__marquee::after {
    content: '';
    --mask: radial-gradient(
          5.07px at 50% calc(100% + 2.2px),
          #0000 calc(99% - 1px),
          #000 calc(101% - 1px) 99%,
          #0000 101%
        )
        calc(50% - 8px) calc(50% - 2.5px + 0.5px) / 16px 5px repeat-x,
      radial-gradient(
          5.07px at 50% -2.2px,
          #0000 calc(99% - 1px),
          #000 calc(101% - 1px) 99%,
          #0000 101%
        )
        50% calc(50% + 2.5px) / 16px 5px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    background: #3239fb;
  }

  .arc-hero__marquee::before {
    content: '';
    --mask: radial-gradient(4.66px at 50% 6.4px, #000 99%, #0000 101%)
        calc(50% - 8px) 0/16px 100%,
      radial-gradient(4.66px at 50% -2.4px, #0000 99%, #000 101%) 50% 4px/16px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  .arc-footer__nav::before {
    content: '';
    --mask: radial-gradient(
          5.07px at 50% calc(100% + 2.2px),
          #0000 calc(99% - 1px),
          #000 calc(101% - 1px) 99%,
          #0000 101%
        )
        calc(50% - 8px) calc(50% - 2.5px + 0.5px) / 16px 5px repeat-x,
      radial-gradient(
          5.07px at 50% -2.2px,
          #0000 calc(99% - 1px),
          #000 calc(101% - 1px) 99%,
          #0000 101%
        )
        50% calc(50% + 2.5px) / 16px 5px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  .arc-testi::before {
    content: '';
    --mask: radial-gradient(
          5.07px at 50% calc(100% + 2.2px),
          #0000 calc(99% - 1px),
          #000 calc(101% - 1px) 99%,
          #0000 101%
        )
        calc(50% - 8px) calc(50% - 2.5px + 0.5px) / 16px 5px repeat-x,
      radial-gradient(
          5.07px at 50% -2.2px,
          #0000 calc(99% - 1px),
          #000 calc(101% - 1px) 99%,
          #0000 101%
        )
        50% calc(50% + 2.5px) / 16px 5px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    display: block;
    width: 100%;
    height: 10px;
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    background: #3239fb;
  }

  .arc-header ul:not(.arc-mobile-menu) li > a:not(.arc-logo) {
    @apply py-2 px-3 hover:bg-black/40 rounded-[10px] transition-all inline-block hover:scale-105;
  }

  .arc-footer li > a {
    @apply hover:underline;
  }

  .arc-link-search img {
    top: 50%;
    transform: translateY(-54%);
    @apply left-[90%] md:left-[84%] lg:h-[250px] h-auto w-auto z-[-1];
  }

  .arc-intro__image {
    position: relative;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

  .arc-intro__image img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: scale(1.05);
    margin-top: 3%;
  }

  .arc-intro__image-stamp {
    position: absolute;
    width: 83%;
    top: 2%;
    left: calc(8.5%);
    aspect-ratio: 1.666 / 1;
    z-index: 0;
    max-width: 1400px;
    opacity: 1;
    display: block;
  }

  .arc-intro__image-stamp img {
    position: absolute;
    top: -145px;
    left: -140px;
    width: auto;
    height: auto;
  }

  .arc-header {
    transition: all 0.5s ease;
    animation: slideUp 0.5s ease forwards;
  }

  .arc-header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #3239fb;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.5s ease forwards;
    border-bottom: 2px dashed #fff;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-20%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateY(0);
  }
}
